@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    font-size: 62.5%;
}

:root{
  --white-color: white;
  --navbar-bg: ;
  --logo: white;
}

a{
  color: white !important;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.navbar::before
{
  content:"";
  width:100%;
  height: 100%;
  background: black;
  position: absolute;
  top:0;
  left:0;
  right:0;
  opacity: 0.6;
  z-index: -1;
}

.nav-item
{
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 1rem 1.5rem !important;
  
}

.nav-link
{
  font-size:2rem !important;
  color: var(--white-color) !important;
}

.navbar-brand
{
  font-size: 2.4rem !important;
  margin-left: 1rem;
  color: var(--white-color);
}

.right-align
{
  font-size: 2.4rem;
  color: var(--white-color);
  outline: none !important;
}

.navbar-toggler
{
  outline: none !important;
  border: none !important;
}

.logo
{
  color: var(--logo);
}

.home
{
  color:var(--logo) !important;
}

.nav-link:hover
{
  color: var(--logo) !important;
}


/* home section start */
.hero
{
    width:100%;
    height: 60rem;
    position: relative;
}



.hero::before
{
  content: "";
  position: absolute;
  top:0%;
  left:0%;
  right:0%;
  background: url('home.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height:60rem;
  opacity: 0.5;
  z-index: -1;
}

.hero-container
{
  padding-top: 6rem;
  height: 60rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.title
{
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--logo);
}

.mid-title
{
  font-size:4rem;
  margin-bottom: 2rem;
  border:2px solid white;
  border-radius: 10px;
  display: inline;
  padding: 0.8rem 1.5rem;
  color: var(--logo);
}

.end-title
{
  font-size: 1.5rem;
  margin-top: 3.5rem;
  color: var(--logo);
  
}

.goto
{
  padding: 1.5rem 3.5rem;
  font-size: 1.5rem;
  border-radius: 40px;
  margin-top:1.5rem;
  border: 2px solid white;
}

.goto:hover{
  background: transparent;
  color: white;
  box-shadow: none;
  font-weight: bold;
}

.nav-link:hover
{
  color: lightgray !important;
}

.nav-icons
{
  color: white;
  padding: 0 .5rem;
}

.menu{
  padding-bottom: 5rem !important;
}

.menu-title
{
  margin-top: 5rem !important;
}

.img-food
{
 width:14rem;
 height: 14rem;
 display: block;
 margin: auto;
 margin-top: 1.5rem;
}

.burger
{
 width:20rem;
 height: 14rem;
}

.card
{
  border-radius: 10px;
}

.card-body h3{
  text-align: center;
  font-size: 2rem;
}

.price-buy
{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price
{
 font-size: 2rem;
 margin-top: .8rem;
}

.price-buy .btn
{
  font-size: 1.5rem;
  border-radius: 10px;
  padding: .5rem 2rem;
}