@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    font-size: 62.5%;
}

:root{
  --white-color: white;
  --logo: #EDC126;
}

a{
  color: white !important;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.navbar::before
{
  content:"";
  width:100%;
  height: 100%;
  background: black;
  position: absolute;
  top:0;
  left:0;
  right:0;
  opacity: 0.6;
  z-index: -1;
}

.nav-item
{
  display: flex;
  justify-content: center;
  align-items: center;
 padding: 1rem 1.5rem !important;
  
}

.nav-link
{
  font-size:2rem !important;
  color: var(--white-color) !important;
}

.navbar-brand
{
  font-size: 2.4rem !important;
  margin-left: 1rem;
  color: var(--white-color);
}

.right-align
{
  font-size: 2.4rem;
  color: var(--white-color);
  outline: none !important;
}

.navbar-toggler
{
  outline: none !important;
  border: none !important;
}

.logo
{
  color: var(--logo);
}

.home
{
  color:var(--white-color) !important;
}

.nav-link:hover
{
  color: var(--white-color) !important;
}


/* home section start */
.hero
{
    width:100%;
    height: 60rem;
    position: relative;
}



.hero::before
{
  content: "";
  position: absolute;
  top:0%;
  left:0%;
  right:0%;
  background: url('home.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height:60rem;
  opacity: 0.5;
  z-index: -1;
}

.hero-container
{
  padding-top: 6rem;
  height: 60rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.title
{
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--white-color);
}

.mid-title
{
  font-size:4rem;
  margin-bottom: 2rem;
  border:2px solid white;
  border-radius: 10px;
  display: inline;
  padding: 0.8rem 1.5rem;
  color: var(--white-color);
}

.end-title
{
  font-size: 1.5rem;
  margin-top: 3.5rem;
  color: var(--white-color);
  
}

.goto
{
  padding: 1.5rem 3.5rem;
  font-size: 1.5rem;
  border-radius: 40px;
  margin-top:1.5rem;
  border: 2px solid white;
}

.goto:hover{
  background: transparent;
  color: white;
  box-shadow: none;
  font-weight: bold;
}

.nav-link:hover
{
  color: lightgray !important;
}

.nav-icons
{
  color: var(--white-color);
  padding: 0 .5rem;
}

.menu{
  padding-bottom: 5rem !important;
}

.menu-title
{
  margin-top: 3rem !important;
}

.img-food
{
 width:14rem;
 height: 14rem;
 display: block;
 margin: auto;
 margin-top: 1.5rem;
}

.burger
{
 width:20rem;
 height: 14rem;
}

.card
{
  border-radius: 10px;
}

.card-body h3{
  text-align: center;
  font-size: 2rem;
}

.price-buy
{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price
{
 font-size: 2rem;
 margin-top: .8rem;
}

.price-buy .btn
{
  font-size: 1.5rem;
  border-radius: 10px;
  padding: .5rem 2rem;
}

/* our services */

.ourService
{
  background-color: #f7f1e3;
}

.service-title
{
  font-size: 2.3rem;
}

.colorChange
{
  color: #EDC126;
}

.service-para
{
  text-align: center;
  margin-top: 1.7rem;
  font-size: 1.2rem;
  line-height: 2.3rem;
}

.servicePart
{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.service
{
  display:flex;
  align-items: center;
}

.number
{
  margin-right: 1.5rem;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  border:7px solid white;
  background: #EDC126;
  color:white;
  font-size: 1.5rem;
}

.second
{
  margin-left: 2.1rem;
}

.secondPara
{
  margin-left: .3rem;
}

.Para
{
  font-size: 1.2rem;
}


.social-partnars
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.social-icon
{
  width:10rem;
  margin:1.5rem 1rem;
}

.gpay
{
  height: 4rem;
  width: 11rem;
}

.apay
{
  width:13rem;
  height: 5.3rem;
}

.img-mobile
{
  width: 20rem;
  height:25rem;
  display: block;
  margin:auto;
}

/* subscribe section start */
.subscribe
{
  background: var(--logo);
}

.gmail
{
  display: block;
  margin:auto;
  font-size: 6rem;
  text-align: center !important;
}

.sub-para
{
  font-size: 1.7rem;
  color:var(--white-color);
  margin-top: 1.5rem;
}

@media(max-width:600px)
{
  .sub-head span
  {
    display: block;
  }
}

.youremail
{
  margin-top: 3rem !important;
  padding: 1.6rem;
  display: block !important;
  width: 30rem;
  margin: auto;
  border-radius:40px;
  border:none;
  box-shadow: none;
  font-size: 1.5rem;
  text-align: center;
}

.subbtn
{
  padding: 1.6rem;
  display: block !important;
  width: 30rem;
  margin: auto;
  margin-top: 2rem;
  border-radius:40px;
  font-size: 1.5rem;
}