@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    font-size: 62.5%;
}

:root{
  --white-color: white;
  --navbar-bg: ;
  --logo: white;
}

a{
  color: white !important;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.navbar::before
{
  content:"";
  width:100%;
  height: 100%;
  background: black;
  position: absolute;
  top:0;
  left:0;
  right:0;
  opacity: 0.6;
  z-index: -1;
}

.nav-link
{
  font-size:2rem !important;
  padding: 1rem 2rem !important;
  color: var(--white-color) !important;
}

.navbar-brand
{
  font-size: 2.4rem !important;
  margin-left: 1rem;
  color: var(--white-color);
}

.right-align
{
  font-size: 2.4rem;
  color: var(--white-color);
  outline: none !important;
}

.navbar-toggler
{
  outline: none !important;
  border: none !important;
}

.logo
{
  color: var(--logo);
}

.home
{
  color:var(--logo) !important;
}

.nav-link:hover
{
  color: var(--logo) !important;
}


/* home section start */
.hero
{
    width:100%;
    height: 50rem;
    position: relative;
}

.hero::before
{
  content: "";
  position: absolute;
  top:0%;
  left:0%;
  right:0%;
  background: url('home.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height:60rem;
  opacity: 0.5;
  z-index: -1;
}